<div ng-controller="LoginController" class="container content well">
    <div class="row">
        <div>
            <h1>Login</h1>
            <form name="myItemsForm" novalidate>
                <p>Please enter the code given or re-check the link in your invitation.</p>
                <div class="input-group">
                    <input type="text" class="form-control" name="login" placeholder="Enter login code here...">
                    <button type="submit" class="btn btn-success fa fa-check">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
