body {
    background-image: url("/img/gifts_h.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
@media only screen and (max-width: 558px) {
    body {
        background-image: url("/img/gifts_v_290.jpg");
    }
}
@media only screen and (min-width: 559px) and (max-width: 970px) {
    body {
        background-image: url("/img/gifts_v_538.jpg");
    }
}
